nav.navigation
  .navigation__wrapper
    a.navigation__link(href="/")
      | SSR EXPRESS PUB SASS THREEJS

      svg.navigation__link_icon

    ul.navigation__list
      li.navigation__list__item
        a.navigation__list__link(href="/") Menu 1
      li.navigation__list__item
        a.navigation__list__link(href="/") Menu 2
